Partie_2&3/ReleveClient/src/main/java/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://releve/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://releve/" name="releve">
<types>
<xsd:schema>
<xsd:import namespace="http://releve/" schemaLocation="http://localhost:9292/?xsd=1"/>
</xsd:schema>
</types>
<message name="toString">
<part name="parameters" element="tns:toString"/>
</message>
<message name="toStringResponse">
<part name="parameters" element="tns:toStringResponse"/>
</message>
<message name="getRIB">
<part name="parameters" element="tns:getRIB"/>
</message>
<message name="getRIBResponse">
<part name="parameters" element="tns:getRIBResponse"/>
</message>
<message name="setRIB">
<part name="parameters" element="tns:setRIB"/>
</message>
<message name="setRIBResponse">
<part name="parameters" element="tns:setRIBResponse"/>
</message>
<message name="getDateReleve">
<part name="parameters" element="tns:getDateReleve"/>
</message>
<message name="getDateReleveResponse">
<part name="parameters" element="tns:getDateReleveResponse"/>
</message>
<message name="setDateReleve">
<part name="parameters" element="tns:setDateReleve"/>
</message>
<message name="setDateReleveResponse">
<part name="parameters" element="tns:setDateReleveResponse"/>
</message>
<message name="getSolde">
<part name="parameters" element="tns:getSolde"/>
</message>
<message name="getSoldeResponse">
<part name="parameters" element="tns:getSoldeResponse"/>
</message>
<message name="getOp">
<part name="parameters" element="tns:getOp"/>
</message>
<message name="getOpResponse">
<part name="parameters" element="tns:getOpResponse"/>
</message>
<message name="setOp">
<part name="parameters" element="tns:setOp"/>
</message>
<message name="setOpResponse">
<part name="parameters" element="tns:setOpResponse"/>
</message>
<message name="setSolde">
<part name="parameters" element="tns:setSolde"/>
</message>
<message name="setSoldeResponse">
<part name="parameters" element="tns:setSoldeResponse"/>
</message>
<portType name="Releve">
<operation name="toString">
<input wsam:Action="http://releve/Releve/toStringRequest" message="tns:toString"/>
<output wsam:Action="http://releve/Releve/toStringResponse" message="tns:toStringResponse"/>
</operation>
<operation name="getRIB">
<input wsam:Action="http://releve/Releve/getRIBRequest" message="tns:getRIB"/>
<output wsam:Action="http://releve/Releve/getRIBResponse" message="tns:getRIBResponse"/>
</operation>
<operation name="setRIB">
<input wsam:Action="http://releve/Releve/setRIBRequest" message="tns:setRIB"/>
<output wsam:Action="http://releve/Releve/setRIBResponse" message="tns:setRIBResponse"/>
</operation>
<operation name="getDateReleve">
<input wsam:Action="http://releve/Releve/getDateReleveRequest" message="tns:getDateReleve"/>
<output wsam:Action="http://releve/Releve/getDateReleveResponse" message="tns:getDateReleveResponse"/>
</operation>
<operation name="setDateReleve">
<input wsam:Action="http://releve/Releve/setDateReleveRequest" message="tns:setDateReleve"/>
<output wsam:Action="http://releve/Releve/setDateReleveResponse" message="tns:setDateReleveResponse"/>
</operation>
<operation name="getSolde">
<input wsam:Action="http://releve/Releve/getSoldeRequest" message="tns:getSolde"/>
<output wsam:Action="http://releve/Releve/getSoldeResponse" message="tns:getSoldeResponse"/>
</operation>
<operation name="getOp">
<input wsam:Action="http://releve/Releve/getOpRequest" message="tns:getOp"/>
<output wsam:Action="http://releve/Releve/getOpResponse" message="tns:getOpResponse"/>
</operation>
<operation name="setOp">
<input wsam:Action="http://releve/Releve/setOpRequest" message="tns:setOp"/>
<output wsam:Action="http://releve/Releve/setOpResponse" message="tns:setOpResponse"/>
</operation>
<operation name="setSolde">
<input wsam:Action="http://releve/Releve/setSoldeRequest" message="tns:setSolde"/>
<output wsam:Action="http://releve/Releve/setSoldeResponse" message="tns:setSoldeResponse"/>
</operation>
</portType>
<binding name="RelevePortBinding" type="tns:Releve">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="toString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRIB">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setRIB">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDateReleve">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setDateReleve">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSolde">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setOp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setSolde">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="releve">
<port name="RelevePort" binding="tns:RelevePortBinding">
<soap:address location="http://localhost:9292/"/>
</port>
</service>
</definitions>